



<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label></label>
        </dt>
        <dd>
            <input name="files" type="file" />
        </dd>
    </dl>
    <input class="btn" type="submit" value="subir" />
</form>