@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Clientes</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Listado">Listado de Clientes</a>

    <form >
        <label>id</label>
        <input name="id" />
        <br />
        <label>Nombre</label>
        <input name="nombre" />
        <br />
        <label>Direccion</label>
        <input name="direccion" />
        <br />
        <label>Telefono</label>
        <input name="telefono" />
        <br />
        <label>Cuit</label>
        <input name="cuit" />
        <br />
        <input type="submit" value="guardar" />
        <br />
    </form>