@model WebAppProemMvc1.Models.Factura

@{
    ViewData["Title"] = "Create";
}




<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Crear nueva Factura</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" class="container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FacturaId" class="control-label"></label>
                    <input asp-for="FacturaId" class="form-control" value="0" readonly />
                    <span asp-validation-for="FacturaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" type="date" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="ClienteId" class="control-label"></label>
                    <select asp-for="ClienteId"  asp-items="ViewBag.Clientes" class="form-control" >
                        <option value=""> Seleccionar</option> 
                    </select>
                    

                    <span asp-validation-for="ClienteId" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Importe" class="control-label"></label>
                    <input asp-for="Importe" class="form-control" />
                    <span asp-validation-for="Importe" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Saldo" class="control-label"></label>
                    <input asp-for="Saldo" class="form-control" />
                    <span asp-validation-for="Saldo" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <input type="submit" value="Crear Factura" class="btn btn-primary flex-column" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}